EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
RERANKER_MODEL_NAME=cross-encoder/ms-marco-MiniLM-L6-v2

# основная RAG-модель
LLM_MODEL_NAME=
LLM_BASE_URL=
LLM_API_KEY=

# judge-модель для ragas
EVAL_LLM_MODEL_NAME=
EVAL_LLM_API_KEY=
EVAL_LLM_BASE_URL=


CHUNK_SIZE=500
CHUNK_OVERLAP=100
TOP_K=5
RERANK_TOP_N=3

LOG_LEVEL=INFO

NO_PROXY=
no_proxy=